.portfolio {
    position: relative;
    width: 100%;
    height: 1000px;
    background: url("../assets/pexels-darsheel-prajapati-4174077.jpg");
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
}

.portfolio-detail {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
}