* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Koulen', cursive;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Orelega One', cursive;
  font-family: 'Oswald', sans-serif;
  font-family: 'Quicksand', sans-serif;
  user-select: none;
}

body,
html {
  overflow-x: hidden;
}